extends layout

block content
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  link(rel="stylesheet" href="/stylesheets/about.css")

  .main.container-fluid
    .row
      .col-md-12
        div.row.sub-row
          div.col-12
            div.card
              h3.card-title About
              div.card-block
                p.
                  Hello and welcome to the sheepshead club at UW Madison! We've been a club at this university for
                  20 years and we hope to continue for many more years to come! Playing sheepshead is a fun, social,
                  relaxing (yet still competitive sometimes) game that anyone can learn how to play with a little help! 
                  If you're new to the game, you'll definitely want to check out our cheat sheet/rules tab as well as the 
                  tutorials tab to learn how to play! ....
                //a.btn.btn-primary(href = "/scores") Check Out Scores
    .row
      .col-md-12
        div.row.sub-row
          div.col-12
            div.card
              h3.card-title Club Officers
              div.card-block
                p.
                  Feel free to reach out to any of our club officers if you have any questions! You can reach them at
                  the contact information we've provided below
                br
                b <u> Club President:</u> Bruce Wayne, bwayne@wisc.edu, (555) 555-5551
                br
                b <u> Club Treasurer:</u> Clark Kent, ckent@wisc.edu, (555) 555-5552
                br
                b <u> Equipment Manager:</u> Steve Rogers, srogers@wisc.edu (555) 555-5553