extends layout

block content
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  link(rel="stylesheet" href="/stylesheets/help.css")

  .main.container-fluid
    .row
      .col.text-center
        h2 Help
    .row  
      .col-md-3
        .card
          button.help#strategy General Strategy
      .col-md-3
        .card
          button.help#picking Should I Pick?
      .col-md-3
        .card
          button.help#what-to-play What to Play?
      .col-md-3
        .card
          button.help#hand Hand Assistance
    br
    .help-content#strategy.text-center
      .row
        .col-md-4
          .row
            label.col-xs-1.col-form-label.font-weight-bold.mr-1(for='role') I am...
            .col-xs-1
              select.form-control#strategies-role
                option(value="picker") the picker
                option(value="partner") the partner
                option(value="neither") not on the picking team
                option(value="leaster") playing a leaster
      br
      #strategy-text.text-left
    .help-content#picking
      .row
        h3 Should I pick up the blind?
      .row
        h5 This interactive exercise practices the decision making process that goes into whether or not to pick up the blind at the start of the round.
        ul
          li Click the "Pick Up!"" button if you believe your hand is strong enough to pick up the blind. 
          li Click the "Pass!" button if you don't think your hand is very strong and you would like to pass on picking up the blind.
          li If your answer is correct, the button will turn green! Otherwise it will turn a brighter red.
          li When doing the random questions, if the button turns yellowish orange, then the decision is up to the picker on how aggressive they want to be (you could pick or pass).
          li You can practice using hard-coded examples (examples that will be the same every time) or random examples using a random generator.
      .row
        br
      .row
        select.form-control#picking-simulator
          option(value="hard_coded") Hard-Coded Examples
          option(value="randomized") Random Examples
        br
        select.form-control.hardcode#picking-examples
          option(value="example1") Example 1
          option(value="example2") Example 2
          option(value="example3") Example 3
          option(value="example4") Example 4 
      br     
      .row.hardcode#pick-text
      .row.random#pick-text-random
      br
      .hardcode.row
        div.col-md-2
        div.col-md-4
          button.btn-primary-help.form-control#pickuphard Pick it up!
        div.col-md-4
          button.btn-primary-help.form-control#passhard Pass!
        div.col-md-2
      .random.row
        div.col-md-1
        div.col-md-3
          button.btn-primary-help.form-control#pickuprandom Pick it up!
        div.col-md-3
          button.btn-primary-help.form-control#passrandom Pass!
        div.col-md-3
          button.btn-primary-help.form-control#newdeal New Deal!
        div.col-md-1  
      br
      
    .help-content#what-to-play
      .row
        .col-md-4
          .row
            label.col-xs-1.col-form-label.font-weight-bold.mr-1(for='role') I am...
            .col-xs-1
              select.form-control#play-role
                option(value="picker") the picker
                option(value="partner") the partner
                option(value="neither") not on the picking team
                option(value="leaster") playing a leaster
      br
      #play-text.text-left

    .help-content#hand
      .row
        .col-md-8
          .row
            label.col-xs-1.col-form-label.font-weight-bold.mr-1(for='hand-dropdown') Select your cards:
            .col-xs-1.mr-1
              select.form-control#card-dropdown
                each c in cards
                  option(value=c.code) #{c.name}
            .col-xs-1
              button.form-control#add-button Add
            .col-xs-1
              button.form-control#clear-button Clear
            label.col-xs-1.col-form-label.font-weight-bold.ml-4#dup-error Error! Card already selected or max cards reached!
      br
      .row#cards-row
      br
      .row
        label#good-hand <b>Nice! Looks like you have a good hand!</b>
        label#okay-hand <b>This is an okay/pretty good hand.</b>
        label#bad-hand <b>This isn't the best hand.</b>

  script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
  script(type='text/javascript', src='js/help.js')
  script(type='text/javascript', src='js/cards.js')
