extends layout

block content
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  link(rel="stylesheet" href="/stylesheets/help.css")

  .main.container-fluid
    .row
      .col.text-center
        h3 Help
    .row  
      .col-md-3
        .card
          button.help#strategy General Strategy
      .col-md-3
        .card
          button.help#picking Should I Pick?
      .col-md-3
        .card
          button.help#what-to-play What to Play?
      .col-md-3
        .card
          button.help#hand Hand Assistance
    br
    .help-content#strategy.text-center
      .row
        .col-md-4
          .row
            label.col-xs-1.col-form-label.font-weight-bold.mr-1(for='role') I am...
            .col-xs-1
              select.form-control#strategies-role
                option(value="picker") the picker
                option(value="partner") the partner
                option(value="neither") not on the picking team
                option(value="leaster") playing a leaster
      br
      #strategy-text.text-left
    .help-content#picking
      .row
        h4 Should I pick up the blind?
            
      .row  
        div.card.my-card#QH
          img(src='/images/cards/QH.png').card
          b Queen of Hearts
          label Point Value: 3
          label Is trump? Yes
        div.card.my-card#AD
          img(src='/images/cards/AD.png').card
          b Ace of Diamonds
          label Point Value: 11
          label Is trump? Yes
        div.card.my-card#8C
          img(src='/images/cards/8C.png').card
          b Eight of Clubs
          label Point Value: 0
          label Is trump? No
        div.card.my-card#10S
          img(src='/images/cards/10S.png').card
          b Ten of Spades
          label Point Value: 10
          label Is trump? No
        div.card.my-card#AS
          img(src='/images/cards/AS.png').card
          b Ace of Spades
          label Point Value: 11
          label Is trump? Yes
        div.card.my-card#JC
          img(src='/images/cards/JC.png').card
          b Jack of Clubs
          label Point Value: 2
          label Is trump? Yes
      br
      .row
        .col-md-5
          button.help Pick it up!
          br
          button.help Pass    
            
          
      br
      #scenario-text
    .help-content#what-to-play
      .row
        .col-md-4
          .row
            label.col-xs-1.col-form-label.font-weight-bold.mr-1(for='role') I am...
            .col-xs-1
              select.form-control#play-role
                option(value="picker") the picker
                option(value="partner") the partner
                option(value="neither") not on the picking team
                option(value="leaster") playing a leaster
      br
      #play-text.text-left

    .help-content#hand
      .row
        .col-md-8
          .row
            label.col-xs-1.col-form-label.font-weight-bold.mr-1(for='hand-dropdown') Select your cards:
            .col-xs-1.mr-1
              select.form-control#card-dropdown
                each c in cards
                  option(value=c.code) #{c.name}
            .col-xs-1
              button.form-control#add-button Add
            label.col-xs-1.col-form-label.font-weight-bold.ml-4#dup-error Card already selected!
      br
      .row#cards-row

  script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
  script(type='text/javascript', src='js/help.js')
  script(type='text/javascript', src='js/cards.js')
