extends layout

block content

    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel="stylesheet" href="/stylesheets/index.css")
    -
        var posts = ["Meeting is canceled today.  See you next week!",
                     "This week we will have a change in venue.  We'll be meeting in the Sett this week!",
                     "Remember to pay your dues by this Friday, or else we won't let you play",
                     "We're thinking about getting UW-Sheepshead t-shirts.  Let me know what you think", "1", "2"]
    - var imageUrls = ['/images/home_p1.png', '/images/home_p2.png', '/images/home_p3.png'];



    //- corousel part
    div.container-fluid.website-links
      .row
        .col
          #carouselExampleControls.carousel.slide(data-ride='carousel')
            .carousel-inner
              .carousel-item.active
                  img.img-fluid(src='/images/home_p1.png' alt="Responsive image" )
              each imagUrl in imageUrls
                .carousel-item
                  img.img-fluid(src=imagUrl alt="Responsive image")

      
      div.row
          //- announcements part
          div.col-md-6
              div.row.sub-row.announcements-row
                  div.col-12
                      div.card.announcements-card
                          h3.card-title Announcements
                          if admin
                            br
                            div#addAnnouncement
                                button.btn.btn-primary(type='button', data-toggle='modal', data-target='#publishModal', data-whatever='@fat') Add Announcement
                          div.card-block.pre-scrollable
                              each announcement in announcements
                                  .card.post
                                      div.card-header.post-header
                                          b By
                                          b
                                            = " " + announcement.posterName
                                          i  on
                                          i
                                            = " " + announcement.date
                                          br
                                      div.card-block
                                          p.announcement-content
                                              = announcement.content
                                          if admin
                                              br
                                              button.btn.deleteButton.btn-primary(type='button' id=announcement.id) Delete Announcement
          //- navigation part
          div.col-md-6
              div.row.sub-row
                  div.col-12
                      div.card
                          h3.card-title Scores
                          div.card-block
                              p.
                                  Check out this weeks point totals to see how you stack up
                                  against everyone this semester!
                              a.btn.btn-primary(href = "/scores") Check Out Scores
              div.row.sub-row
                  div.col-12
                      div.card
                          h3.card-title Cheat Sheet
                          div.card-block
                              p.
                                  Played before but can't remember card ranks?  Look at this
                                  little cheat sheet to get you back up to speed.
                              a.btn.btn-primary(href = "/rules") I Could Use a Little Help
              div.row.sub-row
                  div.col-12
                      div.card
                          h3.card-title Help
                          div.card-block
                              p.
                                  New to the game?  See if some of the advice we've
                                  written helps you pick up the game faster!
                              a.btn.btn-primary(href = "/help") Learn More
              div.row.sub-row
                  div.col-12
                      div.card
                          h3.card-title About
                          div.card-block
                              p.
                                  The sheepshead club at UW Madison has been around for
                                  10,000 years...
                              a.btn.btn-primary(href = "/about") Read More


      //- component of pop up window
      #publishModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='publishModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#publishModalLabel.modal-title New Announcement
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
              form
                .form-group
                  label.col-form-label Posted By:
                  input#poster.form-control(type='text')
                .form-group
                  label.col-form-label Content:
                  textarea#postContent.form-control
            .modal-footer
              button.btn.btn-secondary(type='button', data-dismiss='modal') Close
              button.btn#postButton.btn-primary(type='button') Publish announcement



    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    script(type='text/javascript', src='js/index.js')
