doctype html
html
  head
    title Sheepshead Club - UW Madison
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    div.sticky#title_bar
      button#nav_button ☰
      //h1 Title
    div.sidebar#nav_menu
      a(href='/') Home
      br
      a(href='/scores') Scores and Stats
      br
      a(href='/rules') Rules
      br
      a(href='/tutorial') Tutorial
      br
      a(href='/about') About

    block content

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='//code.jquery.com/ui/1.12.1/jquery-ui.js')
  script(type='text/javascript', src='js/layout.js')