doctype html
html
  head
    title Sheepshead Club - UW Madison
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    div.sticky#title_bar
      button#nav_button
        img(src='/img/menu-icon.jpg')#nav_button_img
      //h1 Title
    block content