extends layout

block content
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css")
    link(rel="stylesheet" href="/stylesheets/players.css")

    if added == true
        script.
          alert("Player Added");

    .main.container-fluid
      .row
        .col.text-left
          h3 Players
          // Currently a dummy button that redirects to the players page. Blocking on database integration.
          a.btn.btn-primary(data-toggle="modal", href="#addmodal") Add Player
          #addmodal(class="modal fade")
            div(class="modal-dialog")
              div(class="modal-content")
                div(class="modal-header")
                  h4(class="modal-title") Add Player
                
                div(class="modal-body")
                  form(method='POST' action='/add-player')
                    div.form-group
                      label(for='fn') First Name:
                      input#fn.form-control(type='text' name='firstname')
                    div.form-group
                      label(for='ln') Last Name:
                      input#ln.form-control(type='text' name='lastname')
                    div.form-group
                      label(for='sem') Semester:
                      input#sem.form-control(type='text' name='semester' placeholder='Spring 2018')
                    div.form-group
                      label(for='dp') Dues Paid:
                      input#dp.form-control(type="date" name="duesPaid" placeholder="Date of payment" data-date="" data-date-format="MMMM DD YYYY" value="2015-08-09")
                    button(type="button" class="btn btn-default" data-dismiss="modal") Close
                    button(type='submit' class="btn btn-primary") Add
          a.btn.btn-primary.ml-2#update(data-toggle="modal", href="#update-modal") Update Player
          #update-modal(class="modal fade")
            div(class="modal-dialog")
              div(class="modal-content")
                div(class="modal-header")
                  h4(class="modal-title") Update Player
                
                div(class="modal-body")
                  form(method='POST' action='/update-player')
                    input#id(type='hidden' name='id')
                    div.form-group
                      label(for='fn') First Name:
                      input#fn.form-control(type='text' name='firstname')
                    div.form-group
                      label(for='ln') Last Name:
                      input#ln.form-control(type='text' name='lastname')
                    div.form-group
                      label(for='sem') Semester:
                      input#sem.form-control(type='text' name='semester' placeholder='Spring 2018')
                    div.form-group
                      label(for='dp') Dues Paid:
                      input#dp.form-control(type="date" name="duesPaid" placeholder="Date of payment" data-date="" data-date-format="MMMM DD YYYY" value="2015-08-09")
                    button(type="button" class="btn btn-default" data-dismiss="modal") Close
                    button(type='submit' class="btn btn-primary") Update
          a.btn.btn-primary.ml-2#delete(data-toggle="modal", href="#delete-modal") Delete Player
          #delete-modal(class="modal fade")
            div(class="modal-dialog")
              div(class="modal-content")
                div(class="modal-header")
                  h4(class="modal-title") Delete Player
                
                div(class="modal-body")
                  form(method='POST' action='/delete-player')
                    div.form-group
                      input#id(type='hidden' name='id')
                      label#name Are you sure you want to delete?
                    //-   input#fn.form-control(type='text' name='firstname')
                    //- div.form-group
                    //-   label(for='ln') Last Name:
                    //-   input#ln.form-control(type='text' name='lastname')
                    //- div.form-group
                    //-   label(for='sem') Semester:
                    //-   input#sem.form-control(type='text' name='semester' placeholder='Spring 2018')
                    //- div.form-group
                    //-   label(for='dp') Dues Paid:
                    //-   input#dp.form-control(type="date" name="duesPaid" placeholder="Date of payment" data-date="" data-date-format="MMMM DD YYYY" value="2015-08-09")
                    button(type='submit' class="btn btn-primary") Yes
                    button(type="button" class="btn btn-default" data-dismiss="modal") No
          
          //- div.modal.fade#update-modal
          //-   div(class="modal-dialog")
          //-     div(class="modal-content")
          //-       div(class="modal-header")
          //-         h4(class="modal-title") Update Player
                
          //-       div(class="modal-body")
          //-         form(method='POST' action='/add-player')
          //-           div.form-group
          //-             label(for='fn') First Name:
          //-             input#fn.form-control(type='text' name='firstname')
          //-           div.form-group
          //-             label(for='ln') Last Name:
          //-             input#ln.form-control(type='text' name='lastname')
          //-           div.form-group
          //-             label(for='sem') Semester:
          //-             input#sem.form-control(type='text' name='semester' placeholder='Spring 2018')
          //-           div.form-group
          //-             label(for='dp') Dues Paid:
          //-             input#dp.form-control(type="date" name="duesPaid" placeholder="Date of payment" data-date="" data-date-format="MMMM DD YYYY" value="2015-08-09")
          //-           //- button(type="button" class="btn btn-default" data-dismiss="modal") Close
          //-           //- button(type='submit' class="btn btn-primary") Add
                  
      br
      .row
        .col-lg-12
          .outlined.shaded-gray#table-container
            .table-responsive-xs
              table.table.table-hover.table-bordered#players_table

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js")
    script(type='text/javascript', src='js/players.js')
