extends layout

block content
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  link(rel="stylesheet" href="/stylesheets/rules.css")

  .main.container-fluid
    .row
      .col.text-center
        h3 Rules
    .row  
      .col-md-4
        .card
          button.rules#general General Rules
      .col-md-4
        .card
          button.rules#house House Rules
      .col-md-4
        .card
          button.rules#links Additional Links
    br
    .rules-content#general
      h4 General Rules
      figure
        img(src='/images/sheepshead_cheatsheet.jpeg' class='cheatsheet')
        figcaption Sheepshead Cheat Sheet
      p Sheepshead is played with 32 cards, which vary in both value and power. The object of the game is to get at least 61 points by taking tricks.
      br
      b Players
      p 
        | Sheepshead is most commonly played with 5 players. Six players may also play, in which case the dealer sits out the hand. 
        | There are variations of the game which can be played with anywhere from 2 to 8 players -- these variations will be described later.
      br
      b The Sheepshead Deck
      p 
        | The deck uses 32 of the 52 cards in a typical deck of cards. Sheepshead uses all the suits of 7’s, 8’s, 9’s 10’s, Jacks, Queens, Kings, and Aces. 
        | The remainder of the deck goes unused.
      br
      b Dealing
      p 
        | After deciding who the first dealer will be, shuffle the deck thoroughly. The person sitting to the right of the dealer should cut the deck. 
        | In total, six cards will be dealt to each player. Typically, this is done by dealing cards in groups of two or three. During the deal, 
        | two cards are dealt to the middle of the table -- these cards are known as the blind. The role of dealer rotates clockwise around the table.
      br
      b Card Rankings
      p 
        | Perhaps the most difficult aspect of sheepshead to pick up is the ranking of the cards, which is a very important part of the game. Furthermore, 
        | a more powerful card is not necessarily worth more points. Consult the cheat sheet above to view the rankings of cards.
      br
      b Point Values of Cards
      p 
        | In total, there are 120 points up for grabs in the sheepshead deck. For the picker to win the game, he or she must collect at least 61 points -- otherwise, 
        | the non-picking team will win. Consult the cheat sheet above to view the point values of cards.
      br
      b Important Rules to Remember
      p Two rules that typically trip new players up are the following:
      ol
        li Any trump card will beat any fail card.
        li Tens are higher than kings.
      p With the above basic rules in mind, you are ready to play the game!
      br
      h3 Basic Play
      b The Picker
      p 
        | Once the cards have been dealt, the person seated to the left of the dealer has the first chance to pick up the blind. If he or she thinks that his or her 
        | hand is good enough to win at least 61 points (usually because it contains a lot of trump), the player will pick up the blind and add it to his or her hand.
      p 
        | If a player doesn't have very many trump and does not feel confident that he or she can win, he or she can pass. The option to pick up the blind is now 
        | passed to the person to the left. This process repeats until the dealer has had a chance to pick. If no one picks, special rules apply, and the dealer decides
        | if the hand will be a leaster or a doubler (see the House Rules tab). After picking up the blind, the picker must bury two cards, placing them face down on 
        | the table in front of him or her. These cards count towards the picker's point total, so it is generally a good idea to bury cards worth a lot of points 
        | (NOT TRUMP!). The picker then gets a partner (see below).
      b Note: if a player is dealt the jack of diamonds and decides to pick up the blind, he or she must go alone! (See House Rules for more)
      br
      br
      b The Partner
      p 
        | Unless the picker has a very good hand and decides to go alone, he or she will get a partner. The partner is the player that was dealt the jack of diamonds. 
        | In certain situations, the picker may be dealt the jack of diamonds and pick up the blind, in which case the picker has no partner.
        | Alternately, the picker may pick up the jack of diamonds in the blind. If the picker wants a partner, he or she will call out the next lowest jack that he or she 
        | does not have in his or her hand (ex. the jack of hearts would be next). See the House Rules tab for more details.
      p 
        | The remaining three players are now on a team, going against the picker and his partner. Only the partner knows who the partner is at the beginning of the hand; 
        | the partner may not reveal to anyone that he or she is in fact the partner. This is only revealed when the jack of diamonds is played.
      b Scoring
      p
        | Once six hands have been played, the scores are tallied. The picker and the partner combine all of their points together. Likewise, the remaining three players
        | combine their points together. The results of the game are as follows:
      ol
        li The picker and the partner score between 61 and 90 points. This is a regular win, wherein the non-picking team gets Schneider.
        li The picker and the partner score between 91 and 119 points. This is a double win, and the non-picking team does not get Schneider.
        li The picker and the partner take all 120 points. This is a triple win, and the non-picking team has been Schwarzed.
        li The non-picking team scores between 60 and 90 points. In this case, the non-picking team has defeated the picking team and wins double points (see House Rules).
        li The non-picking team scores between 91 and 119 points. Again, the non-picking team has defeated the picking team, winning quadruple points.
        li This non-picking team takes all 120 points. The picker and partner have been Schwarzed!
      p
        | Based on the outcome, the point payout is as follows:
      ol
        li 
          | The losing team made Schneider (31 for picker, 30 for non-picker). Each player on the losing team gives 1 point to the players on the winning team. Note that
          | the picker receives 2 and the partner 1. If the picker and partner lose, the picker pays 2 and the partner pays 1.
        li
          | The losing team did not make Schneider. Instead of paying one point each, as in option 1, players now pay 2 points each.
        li
          | The losing team was Schwarzed. Instead of paying one point each, as in option 1, players now pay 3 points each.
      b Note: if the picking team loses, they pay double the values listed above. This is called "double on the bump" (see House Rules).

    .rules-content#house
      h4 Cheat Sheet
      img(src='/images/sheepshead_cheatsheet.jpeg' class='cheatsheet')
      //#cheetsheet-text.text-left

    .rules-content#links
      h4 Additional Links for More Rules
      a(href='https://www.sheepshead.org/rules/sheepshead-basic-rules/') https://www.sheepshead.org/rules/sheepshead-basic-rules/
      br
      a(href='https://en.wikipedia.org/wiki/Sheepshead_(card_game)') https://en.wikipedia.org/wiki/Sheepshead_(card_game)
      br
      a(href='https://www.pagat.com/schafkopf/shep.html') https://www.pagat.com/schafkopf/shep.html
      br
      a(href='https://gamerules.com/rules/sheepshead-card-game/') https://gamerules.com/rules/sheepshead-card-game/




  script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
  script(type='text/javascript', src='js/rules.js')