extends layout

block content
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  link(rel="stylesheet" href="/stylesheets/rules.css")

  .main.container-fluid
    .row
      .col.text-center
        h3 Rules
    .row  
      .col-md-4
        .card
          button.rules#general General Rules
      .col-md-4
        .card
          button.rules#house House Rules
      .col-md-4
        .card
          button.rules#links Additional Links
    br
    .rules-content#general
      h4 General Rules
      figure
        img(src='/images/cheatsheet.png' class='cheatsheet')
        figcaption Sheepshead Cheat Sheet
        p#credit (from Robert Strupp's "How to Play 'Winning' 5 Handed Sheepshead")
      p.tab Sheepshead is played with 32 cards, which vary in both value and power. The object of the game is to get at least 61 points by taking tricks.
      br
      b Players
      p.tab 
        | Sheepshead is most commonly played with 5 players. Six players may also play, in which case the dealer sits out the hand. 
        | There are variations of the game which can be played with anywhere from 2 to 8 players -- these variations will be described later.
      br
      b The Sheepshead Deck
      p.tab 
        | The deck uses 32 of the 52 cards in a typical deck of cards. Sheepshead uses all the suits of 7’s, 8’s, 9’s 10’s, Jacks, Queens, Kings, and Aces. 
        | The remainder of the deck goes unused.
      br
      b Dealing
      p.tab 
        | After deciding who the first dealer will be, shuffle the deck thoroughly. The person sitting to the right of the dealer should cut the deck. 
        | In total, six cards will be dealt to each player. Typically, this is done by dealing cards in groups of two or three. During the deal, 
        | two cards are dealt to the middle of the table -- these cards are known as the blind. The role of dealer rotates clockwise around the table.
      br
      b Card Rankings
      p.tab 
        | Perhaps the most difficult aspect of sheepshead to pick up is the ranking of the cards, which is a very important part of the game. Furthermore, 
        | a more powerful card is not necessarily worth more points. Consult the cheat sheet above to view the rankings of cards.
      br
      b Point Values of Cards
      p.tab 
        | In total, there are 120 points up for grabs in the sheepshead deck. For the picker to win the game, he or she must collect at least 61 points -- otherwise, 
        | the non-picking team will win. Consult the cheat sheet above to view the point values of cards.
      br
      b Important Rules to Remember
      p Two rules that typically trip new players up are the following:
      ol
        li Any trump card will beat any fail card.
        li Tens are higher than kings.
      p With the above basic rules in mind, you are ready to play the game!
      br
      h4 Basic Play
      b The Picker
      p.tab 
        | Once the cards have been dealt, the person seated to the left of the dealer has the first chance to pick up the blind. If he or she thinks that his or her 
        | hand is good enough to win at least 61 points (usually because it contains a lot of trump), the player will pick up the blind and add it to his or her hand.
      p.tab 
        | If a player doesn't have very many trump and does not feel confident that he or she can win, he or she can pass. The option to pick up the blind is now 
        | passed to the person to the left. This process repeats until the dealer has had a chance to pick. If no one picks, special rules apply, and the dealer decides
        | if the hand will be a leaster or a doubler (see the House Rules tab). After picking up the blind, the picker must bury two cards, placing them face down on 
        | the table in front of him or her. These cards count towards the picker's point total, so it is generally a good idea to bury cards worth a lot of points 
        | (NOT TRUMP!). The picker then gets a partner (see below).
      b Note: if a player is dealt the jack of diamonds and decides to pick up the blind, he or she must go alone! (See House Rules for more)
      br
      br
      b The Partner
      p.tab 
        | Unless the picker has a very good hand and decides to go alone, he or she will get a partner. The partner is the player that was dealt the jack of diamonds. 
        | In certain situations, the picker may be dealt the jack of diamonds and pick up the blind, in which case the picker has no partner.
        | Alternately, the picker may pick up the jack of diamonds in the blind. If the picker wants a partner, he or she will call out the next lowest jack that he or she 
        | does not have in his or her hand (ex. the jack of hearts would be next). See the House Rules tab for more details.
      p.tab 
        | The remaining three players are now on a team, going against the picker and his partner. Only the partner knows who the partner is at the beginning of the hand; 
        | the partner may not reveal to anyone that he or she is in fact the partner. This is only revealed when the jack of diamonds is played.
      b Scoring
      p.tab
        | Once six hands have been played, the scores are tallied. The picker and the partner combine all of their points together. Likewise, the remaining three players
        | combine their points together. The results of the game are as follows:
      ol
        li The picker and the partner score between 61 and 90 points. This is a regular win, wherein the non-picking team gets Schneider.
        li The picker and the partner score between 91 and 119 points. This is a double win, and the non-picking team does not get Schneider.
        li The picker and the partner take all 120 points. This is a triple win, and the non-picking team has been Schwarzed.
        li The non-picking team scores between 60 and 90 points. In this case, the non-picking team has defeated the picking team and wins double points (see House Rules).
        li The non-picking team scores between 91 and 119 points. Again, the non-picking team has defeated the picking team, winning quadruple points.
        li This non-picking team takes all 120 points. The picker and partner have been Schwarzed!
      p
        | Based on the outcome, the point payout is as follows:
      ol
        li 
          | The losing team made Schneider (31 for picker, 30 for non-picker). Each player on the losing team gives 1 point to the players on the winning team. Note that
          | the picker receives 2 and the partner 1. If the picker and partner lose, the picker pays 2 and the partner pays 1.
        li
          | The losing team did not make Schneider. Instead of paying one point each, as in option 1, players now pay 2 points each.
        li
          | The losing team was Schwarzed. Instead of paying one point each, as in option 1, players now pay 3 points each.
      b Note: if the picking team loses, they pay double the values listed above. This is called "double on the bump" (see House Rules).

    .rules-content#house
      h4 House Rules
      p.tab
        | Along with the rules listed under the General Rules section, there are also house rules that are specific to our club. Note that other people or clubs might play
        | with rules that differ from these, but this is how our club does it.
      ol
        li
          p.justified
            strong The jack of diamonds determines the partner: 
            | in our club, we play that the player that has the jack of diamonds is the partner. Other people that play sheepshead may play a variation in which the picker
            | calls a fail suit, and the player with the ace of that fail suit is the partner. Since we don't do that, you don't need to worry about it! Having the jack of
            | diamonds be the partner card is easier for new players to learn.
        li
          p.justified
            strong The picker can choose to go alone: 
            | there are two circumstances under which the picker may choose to go alone, in which case they will not have a partner and play one against four. The first case
            | is when a player is dealt the jack of diamonds and he or she decides to pick up the blind. The second case is when the picker does not have the jack of diamonds,
            | but he or she thinks that his or her hand is so good that a partner is not needed. In either case, the scoring at the end still works the same -- the picker still
            | needs 61 points to win the game. The other four players similarly total their points together.
        li
          p.justified
            strong Calling up jacks: 
            | in some instances, a person may pick up the two cards in the blind and find that one of them is the jack of diamonds. Instead of being forced to go alone, the picker
            | has the option of calling out the next lowest jack that he or she does not have. In order, this would be the jack of hearts, then the jack of spades, then the jack of
            | clubs (review the cheat sheet if you are uncertain). If the picker has all three of these jacks in his or her hand when he or she picks up the jack of diamonds, the
            | picker cannot call up to the queen of diamonds; the picker must go alone in this case.
        li
          p.justified
            strong Doublers and leasters: 
            | sometimes none of the five players are confident that they have a winning hand, each passing when given the option to pick up the blind. In this case, whoever dealt the
            | hand has the choise to call either a 
            strong doubler 
            | or a 
            strong leaster
            | .
          p.justified
            | A doubler means that all of the cards are collected and a new hand is dealt by the dealer. The new hand is played like a normal hand, except the points paid out are
            | doubled at the end! Note that if no one picks for a second time around, another doubler is added such that the next two hands are now doublers. Doublers continue to be
            | accumulated until no more need to be played. Doublers are usually counted by stacking poker chips.
          p.justified
            | A leaster, on the other hand, means that all players will keep the hands they were dealt, but now, instead of trying to take the most points, players are trying to take
            | as few points as possible while still taking a trick. There are no teams; every player plays alone. For more information about playing a leaster, visit the 
            a(href='/help') General Strategy 
            | page and select the option in the dropdown for playing a leaster.
        li
          p.justified
            strong Double on the bump: 
            | in the event that the picking team fails to get at least 61 points, the players on the picking team lose double the normal amount of points. This is known as "double on
            | the bump". For example, if the picking team were to score 40 points, the picker would lose a total of four points and the partner would lose two points. Note that this can
            | also be multiplied if a hand is a doubler. If the picker were to lose on a doubler, he or she would lose quadruple points for a total of eight, while the partner would
            | lose four points.
        li
          p.justified
            strong Redeals: 
            | on rare occasions, a dealt hand is so bad that it is deserving of a redeal. This is the case if a player's hand is worth zero points and contains no trump. An easy way to
            | remember when a redeal occurs is to remember the phrase "no points no power". 
        li
          p.justified
            strong Cracking:
            | this occurs when one player picks up the blind, but another player who has not had the option to pick up the blind thinks he or she has a good hand. This other player can
            | then "crack" by knocking the table with his or her fist. Note that in order to crack, this player 
            strong cannot have the jack of diamonds in his or her hand! 
            | When a player cracks, the game plays like normal, except the points are doubled at the end. Therefore, if a player cracks on a doubler, points would be quadrupled. If the
            | picker or partner is confident that his or her team can still win, he or she can crack back, which doubles the points yet again. A hand in which two people have cracked is
            | therefore worth quadruple points!

    .rules-content#links
      h4 Additional Links for More Rules
      ul
        li
          a(href='https://www.sheepshead.org/rules/sheepshead-basic-rules/') sheepshead.org
        li
          a(href='https://en.wikipedia.org/wiki/Sheepshead_(card_game)') Sheepshead - Wikipedia
        li
          a(href='https://www.pagat.com/schafkopf/shep.html') pagat.com
        li
          a(href='https://gamerules.com/rules/sheepshead-card-game/') gamerules.com




  script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
  script(type='text/javascript', src='js/rules.js')