extends layout

block content
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  link(rel="stylesheet" href="/stylesheets/rules.css")

  .main.container-fluid
    .row
      .col.text-center
        h3 Rules
    .row  
      .col-md-4
        .card
          button.rules#cheatsheet Cheat Sheet
      .col-md-4
        .card
          button.rules#rules General Rules
      .col-md-4
        .card
          button.rules#links Additional Links
    br
    .rules-content#cheatsheet
      h4 Cheat Sheet
      img(src='/images/sheepshead_cheatsheet.jpeg' class='cheatsheet')
      //#cheetsheet-text.text-left
    .rules-content#rules
      h4 General Rules (Rules from Sheepshead.org, go to additional links to visit their page)
      p Sheepshead is played with 32 cards, each with a different point value and strength. The object of the game is to get at least 61 points by taking a number of tricks.
      br
      b Players
      p The most common way to play Sheepsead is with 5 players. Six players may sit at the table and the dealer just sits out the hand he is dealing. There are variations of the game which can be played with as little as 2 and up to 8 players. These games will be described later.Six players may sit at the table and the dealer just sits out the hand he is dealing. There are variations of the game which can be played with as little as 2 and up to 8 players. These games will be described later.
      br
      b The Deck
      p The deck consists of 32 of the 52 cards in a regular Poker-type deck of cards. The cards used in Sheepshead are all the suits of 7’s, 8’s, 9’s 10’s, Jacks, Queens, Kings, and Aces. The rest of the deck should be put aside, as it will not be used at all in the game of Sheepshead.
      br
      b The Deal
      p Decide who will deal first. Shuffle the deck thoroughly, and the person to the right of the dealer should cut the deck. Deal 6 cards to every player, dealing the cards 3 at a time in a clockwise manner. After the first round of 3 cards each, 2 cards are placed in the middle of the table. These cards are called the blind The remaining cards are then dealt, 3 at a time. The person to the left of the dealer becomes the dealer in the next round.
      br
      b Card Rankings
      p One of the most difficult parts of Sheepshead for new players to understand is the ranking of the cards. The order of power of the cards is a very important part of the game. Adding to the confusion is the fact that point values for the cards do not always coincide with the power rankings. Instead of the usual, twos-through-aces ranking, the 14 Sheepshead trump cards rank as follows:
      br
      b Point Value of Cards
      p There is a total of 120 points in the Sheepshead Deck. In order to get 61 points (if you are the picker/partner the opposing team needs 60 or greater) and win the game, you must collect a combination of the following cards and the points associated with each. Every suit of the following cards is worth the same, even trump suits.
      br
      b Things to Remember
      p Note that any trump card will take any fail card. Also note that Tens take Kings. With these basic rules, you are ready to start playing the game.
      br
      h3 Basic Play
      b The Picker
      p After dealing the cards, the person to the left of the dealer has the first chance to pick the blind. If you think that you have a good enough hand (basically a bunch of trump) to win, pick up the blind and put it in your hand.
      p If you don’t have much trump, you can pass, and the next person to the left has the option to pick, and so on, until the dealer has had a chance to pick. If no one picks, the hand becomes a leaster, or depending how you play, a doubler. After picking up the blind, the picker must discard two cards, face down in front of him. The picker then picks a partner.
      br
      b Picking a Partner
      p Unless the picker has a very good hand (almost all high trump) he should pick a partner. (see going alone) This is done by naming an ace card from which he has a fail card of. For example, if the picker has all trump except an 8 of hearts, he must call the Ace of Hearts as partner. If he had the 8 of hearts, the 7 of clubs, and the King of spades, he could call any of the three non-trump Aces as partner, as long as the Ace was not in his hand or his blind. So if the picker calls “Ace of hearts” the person with the Ace of hearts becomes his partner. The remaining three players are now on one team, opposing the picker and his partner. No one, except the partner, knows who the partner is at the beginning of the hand, and he cannot tell anyone. The picker must keep his fail card matching the suit of his partner’s Ace until the suit is led, then the picker must play the called suit/fail card. The fail card cannot be played in any other trick except when the called suit is played. (unless it is the last trick played)
      p If all of the picker’s fail cards are aces after picking, he cannot call the suit of any ace he has in his blind. He must place any one of his cards face down (called in the hole or under as in) and call any fail Ace he doesn’t have in his hand or blind. The card in the hole must be played when the suit of the called Ace is led, as if the card was the failed suit called. Only the person who wins the trick is allowed to see the card in the hole, and this card cannot take the trick despite its ranking.
      p If the picker has all three non-trump Aces, a 10 of a fail suit can be called. The same rules apply as if the picker called an Ace. Remember: the Ace and 10 of diamonds can never be called because they are trump.
      p In the event the picker has no fail, the picker can call a suit as an under. The trump is played face down and played face down when the called suit is played. The trump under card is not used to determine who won the trick.

    .rules-content#links
      h4 Additional Links for More Rules
      a(href='https://www.sheepshead.org/rules/sheepshead-basic-rules/') https://www.sheepshead.org/rules/sheepshead-basic-rules/
      br
      a(href='https://en.wikipedia.org/wiki/Sheepshead_(card_game)') https://en.wikipedia.org/wiki/Sheepshead_(card_game)
      br
      a(href='https://www.pagat.com/schafkopf/shep.html') https://www.pagat.com/schafkopf/shep.html
      br
      a(href='https://gamerules.com/rules/sheepshead-card-game/') https://gamerules.com/rules/sheepshead-card-game/




  script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
  script(type='text/javascript', src='js/rules.js')