/* Small screen */
@media (max-width: 768px) 
{
    button.fun {
        width: 100%;
        font-size: 4.5vw;
    }
}

/* Larger screens */
@media (min-width: 768px) {
    button.fun {
        width: 100%;
        font-size: 1.8vw;
    }
}

button.selected {
    background-color: red;
}

div.fun-content {
    display: none;
    padding-left: 16px;
    padding-right: 16px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.tab {
    text-align: justify;
    text-justify: inter-word;
    text-indent: 30px;
    line-height: 1.5;
}

img#card-players {
    float: right;
    max-width: 20%;
    height: auto;
    padding: 0 15px;
}