/* Small screen */
@media (max-width: 768px) 
{
    button.help {
        width: 100%;
        font-size: 4.5vw;
    }

    div.my-card {
        width: 75%;
        height: 100%;
        text-align: center;
    }

    img.play-card {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    img.long {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    img.right {
        float: right;
        max-width: 100%;
        height: auto;
        padding: 0 15px;
    }
}

/* Larger screens */
@media (min-width: 768px) {
    button.help {
        width: 100%;
        font-size: 1.8vw;
    }

    div.my-card {
        width: 15%;
        height: 100%;
        text-align: center;
    }

    img.right {
        float: right;
        max-width: 25%;
        height: auto;
        padding: 0 15px;
    }

    img.play-card {
        max-width: 50%;
        height: auto;
        margin: 0 auto;
    }

    img.long {
        max-width: 72.5%;
        height: auto;
        margin: 0 auto;
    }
    
    div.play-card {
        width: 50%;
        text-align: center;
    }
}

button.selected {
    background-color: red;
}

.btn-primary {
    border-color: black !important;
}

div.help-content {
    display: none;
    padding-left: 16px;
    padding-right: 16px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

img.card {
    max-width: 50%;
    height: auto;
    margin: 0 auto;
}

p.card {
    padding: 0 12px;
    border: none;
}

.tab {
    text-align: justify;
    text-justify: inter-word;
    text-indent: 30px;
    line-height: 1.5;
}

button#add-button {
    background-color: green;
    color: white;
    border-radius: 8px;
}

button#clear-button {
    background-color: red;
    color: white;
    border-radius: 8px;
}

#add-button:hover {
    background-color: rgb(255, 80, 80);
}


#add-button:hover {
    background-color: #00b300;
}

label#dup-error {
    color: red;
    display: none;
}

label#correct-pick {
    color: green;
    display: none;
}

label#maybe-pick {
    color: orange;
    display: none;
}

label#incorrect-pick {
    color: red;
    display: none;
}

label#good-hand {
    color: green;
    display: none;
}

label#okay-hand {
    color: orange;
    display: none;
}

label#bad-hand {
    color: red;
    display: none;
}

select#picking-simulator, select#picking-examples {
    background-color: #800 !important;
    color: white !important;
}

.hardcoded {
    display: block;
}

.random {
    display: none;
}

.displayed {
    display: block;
}

.clear {
    display: block;
}