.website-links {
    padding-top: 25px;
    background-color: #EFEDED;
}

.card-block {
    padding: 25px;
}

.card-title {
    background-color: #800;
    color: #ffe6e6;
    width: 50%;
    padding: 5px;
    padding-left: 10px;
    font: 2vw 'Germania One', cursive;
}

.btn {
    background-color: #800;
    color: white;
}

.sub-row {
    padding-top: 15px;
}

.announcements-row {
    height: 100%;
}

.announcements-card {
    height: 100%;

}

.announcement-content{
    margin-left: 5%
}

.post-header {
    background-color: #ffe6e6;
    font: 1vw 'Germania One', cursive;
}

.post{
    margin-top: 10px;
}
