.website-links {
    padding-top: 25px;
    background-color: #EFEDED;
}

.card-block {
    padding: 25px;
}

.btn {
    background-color: #800;
    border-color: #800;
    color: white;
}

.btn:hover {
    background-color: #800;
    border-color: #800;
    opacity: .8;
}

div.divider {
    width:5px;
    height:auto;
    display:inline-block;
}

#addAnnouncement  {
    text-align: center;
}

.sub-row {
    padding-top: 15px;
}

.announcements-row {
    height: 100%;
}

.announcements-card {
    height: 100%;
}

.announcement-content{
    margin-left: 5%
}

.post{
    margin-top: 10px;
}

@media (max-width: 768px)
{
    .post-header {
        background-color: #ffe6e6;
        font: 3.5vw 'Germania One', cursive;
    }

    .card-title {
        background-color: #800;
        color: #ffe6e6;
        width: 50%;
        padding: 5px;
        padding-left: 10px;
        font: 5vw 'Germania One', cursive;
    }
}

/* Larger screens */
@media (min-width: 768px) {
    .post-header {
        background-color: #ffe6e6;
        font: 1.5vw 'Germania One', cursive;
    }

    .card-title {
        background-color: #800;
        color: #ffe6e6;
        width: 50%;
        padding: 5px;
        padding-left: 10px;
        font: 2vw 'Germania One', cursive;
    }
}

.pagination-container {
  min-height: 650px;
}
