.my-container {
    border: 2px solid green;
}

.my-row {
    border: 3px solid red;
    height: 200px;
    margin-top:20px;
}

.my-col {
    border: 3px dotted blue;
}

.box_title {
    color: white;
    background-color: #800;
    //line-height: 30px;
    padding: 20px;
}

.box-title-row {
}

.button {
  text-decoration: none;
  background-color: #800;
  color: White;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid red;
  border-right: 1px solid #800;
  border-bottom: 1px solid #800;
  border-left: 1px solid red;
}
