div.sticky {
    position: sticky;
    top: 0;
    background-color: #c41e3a;
    border: 2px solid rgb(128, 0, 0);
    z-index: 1;
}
  
div.sidebar {
    position: fixed;
    height: 100%;
    width: 35%;
    z-index: 1;
    background-color: #595959;
    display: none;
    border-right: 2px solid black;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.btn-primary {
    background-color: #800 !important;
    border-color: #800 !important;
    color: white !important;
}

.btn-primary:hover {
    background-color: #F00 !important;
    border-color: #F00 !important;
}

.btn-default {
    background-color: #808080 !important;
    border-color: #808080 !important;
    color: white !important;
}

.btn-default:hover {
    background-color: #000 !important;
    border-color: #000 !important;
    color: white !important;
}

a#title:hover {
    color: #fff;
    text-decoration: none;
}

/* Small screen */
@media (max-width: 768px) 
{
    .side-button {
        font: 5vw 'Germania One', cursive;
        margin-top: 10px;
    }

    a#title {
        font: 6vw 'Germania One', cursive;
        color: #ffe6e6;
    }

    .header-button {
        float: left;
        font: 4vw 'Germania One', cursive;
        padding: 0.5vh 2vw;
        margin-left: 16px;
    }
}

/* Larger screens */
@media (min-width: 768px) {
    .side-button {
        font: 2.5vw 'Germania One', cursive;
        margin-top: 10px;
    }
    
    a#title {
        font: 5vw 'Germania One', cursive;
        color: #ffe6e6;
    }

    .header-button {
        float: left;
        font: 2vw 'Germania One', cursive;
        padding: 1vh 1vw;
        margin: 12px 24px 12px 24px;
    }
}
  
#title_bar {
    width: 100%;
}

/* .pagination .page-item.active .page-link { 
    background-color: #800; 
    border-color: #800; 
}

.pagination .page-item .page-link { 
    color:#800; 
    border-color: #800;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
    background-color: #800;
    border-color: #800;
}

.pagination .page-item.active .page-link:hover {
    background-color: #F00;
    color: white;
} */